@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --background: #ffffff;
  --text-primary: #111111;
  --text-secondary: #ff0000;
  --accent-primary: #ffcc00;
  --accent-secondary: #3333cc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  background-image: url("./paper-textrue.PNG");
  background-position: center;
  background-size: contain;
  color: var(--text-primary);
  font-family: 'Raleway', sans-serif;
}

/* HEADER AND NAV */
header {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid var(--accent-primary);
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
}
header .roof {
  padding-left: 15%;
  text-align: left;
  width: 100%;
}
header .roof p {
  color: var(--text-secondary);
  line-height: 10px;
  margin-bottom: 15px;;
}
header nav {width: 100%}
header nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f9f9f9;
  padding: 3px 15%;
}
header a {
  text-decoration: none;
  color: var(--accent-secondary);
  font-weight: 600;
}
header a:hover {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 600;
}
header nav ul li a.active {
  color: var(--text-secondary);
}

/* SECTIONS */
section {
  padding: 0 15%;
  /* background-color: red; */
  height: 100vh;
}
#archive {
  background-color: #fff7;
}
#archive .project-container {
  justify-content: flex-start;
}
section h2 {padding-top: 110px}

/* PROJECT CARDS */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  height: calc(100vh - 140px);
}
article.project {
  background-color: var(--background);
  height: 32%;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  box-shadow: -5px -5px 10px #0005;
  width: 100%;
}
.project-info {
  padding: 10px;
  border-right: 3px solid var(--accent-primary);
  /* width: 80%; */
  /* flex: 80%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-info p {
  margin-top: 10px;
}
.project-links {margin-top: 20px}
.project-link {
  text-decoration: none;
  color: var(--accent-secondary);
  font-weight: 600;
  padding: 5px;
  border: 2px solid var(--accent-secondary);
  border-radius: 3px;
}
.project-link:hover {
  color: var(--text-secondary);
  border: 2px solid var(--text-secondary);
}
.project-splash {
  background-image: linear-gradient(
    355deg,
    var(--text-primary) 0%,
    var(--accent-secondary) 1%,
    var(--accent-primary) 99%,
    var(--text-primary) 100%
    );
  height: 100%;
  width: 25%;
}
article.archived {
  background-color: var(--background);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
  box-shadow: -5px -5px 10px #0005;
}