@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  /* color: #ccc; */
  font-family: 'Raleway', sans-serif;
}
main {
  padding: 0 15%;
  padding-top: 75px;
}
.pop {
  color : #f00;
}

/* HEADER */
header {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid black;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  left: 0;
  padding: 0 15%;
  position: absolute;
  top: 0;
  width: 100vw;
}
nav {
  align-self: flex-end;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  text-align: center;
}
nav a {
  color: black;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
  position: relative;
  text-decoration: none;
  width: 20%;
}
nav a:hover {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px 5px 0 0;
  background-color: #ddd;
  color: red;
  top: 1px;
}
.header-right {
  align-items: center;
  display: flex;
  gap: 5px;
}
.header-right a {
  color: black;
  text-decoration: none;
}
.header-right a:hover { color : red }

.positions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
.position {
  background-color: #fff;
  border-radius: 5px;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.project {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 20%;
}
.project a {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.project a:hover {
  border-color: red;
  color: red;
}

.nested {
  padding-left: 20px;
}